{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script>
        var apiKey = "nsVWNobzIYpXpaWMR2cSRdmLK78ipa2IG4Ox2G7D",
            getSearchUrl = function (query) {
                return "https://api.nal.usda.gov/fdc/v1/foods/search/?query=" + query + "&api_key=" + apiKey;
            },
            getFoodUrl = function (fdcId) {
                return "https://api.nal.usda.gov/fdc/v1/food/" + fdcId + "?api_key=" + apiKey;
            },
            $ = django.jQuery;

        function Food (name, fdcId) {
            var self = this;

            self.name = ko.observable(name);
            self.fdcId = ko.observable(fdcId);

            self.download = function () {
                $.getJSON(getFoodUrl(self.fdcId())).then(function (data) {
                    $("#id_name").val(data.description);
                    $("#id_serving_name").val(`${data.servingSize} ${data.servingSizeUnit}`);

                    var nutrient_id_map = {
                        "208": "calories",
                        "203": "protein",
                        "204": "fat",
                        "205": "carbs",
                        "291": "fibre",
                        "269": "sugar",
                        "307": "sodium",
                        "601": "cholesterol"
                    };

                    // just in case foods don't have every nutrient listed, clear out fields
                    for (let [_, value] of Object.entries(nutrient_id_map)) {
                        $("#id_" + value).val("");
                    }

                    for (var nutrient of data.foodNutrients) {
                        if (nutrient.nutrient.number in nutrient_id_map) {
                            $("#id_" + nutrient_id_map[nutrient.nutrient.number]).val(nutrient.amount);
                        }
                    }
                });
            };
        }

        function FoodSearchModel () {
            var self = this;

            self.query = ko.observable();
            self.results = ko.observableArray([]);

            self.doSearch = function () {
                $.getJSON(getSearchUrl(self.query())).then(function (data) {
                    self.results(
                        $.map(data.foods, function (item) {
                            if (item.brandName) {
                                return new Food(item.description + " (" + item.brandName + ")", item.fdcId);
                            } else {
                                return new Food(item.description, item.fdcId);
                            }
                        })
                    );
                });
            };
        }

        setTimeout(function () {
            ko.applyBindings(new FoodSearchModel());
        }, 0);
    </script>
    <h2>National Nutrient Database Search: <span data-bind="text: query"></span></h2>
    <div>
        <input type="text" data-bind="value: query">
        <button data-bind="click: doSearch">search</button>

        <ul data-bind="foreach: results, visible: results().length > 0">
            <li><a href="" data-bind="click: download"><span data-bind="text: name"></span></a></li>
        </ul>
    </div>
{% endblock %}