{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>
    <script>
        var apiKey = "nsVWNobzIYpXpaWMR2cSRdmLK78ipa2IG4Ox2G7D",
            getSearchUrl = function (query) {
                return "http://api.nal.usda.gov/usda/ndb/search/?format=json&q=" + query + "&sort=n&max=100&offset=0&api_key=" + apiKey;
            },
            getFoodUrl = function (ndbno) {
                return "http://api.nal.usda.gov/usda/ndb/reports/?ndbno=" + ndbno + "&type=f&format=json&api_key=" + apiKey;
            },
            $ = django.jQuery;

        function Food (name, ndbno) {
            var self = this;

            self.name = ko.observable(name);
            self.ndbno = ko.observable(ndbno);

            self.download = function () {
                $.getJSON(getFoodUrl(self.ndbno())).then(function (data) {
                    $("#id_name").val(data.report.food.name);
                    $("#id_serving_name").val(
                        `${data.report.food.nutrients[0].measures[0].label} (${data.report.food.nutrients[0].measures[0].eqv}${data.report.food.nutrients[0].measures[0].eunit})`
                    );

                    var nutrient_id_map = {
                        "208": "calories",
                        "203": "protein",
                        "204": "fat",
                        "205": "carbs",
                        "291": "fibre",
                        "269": "sugar",
                        "307": "sodium",
                        "601": "cholesterol"
                    };

                    // just in case foods don't have every nutrient listed, clear out fields
                    for (let [_, value] of Object.entries(nutrient_id_map)) {
                        $("#id_" + value).val("");
                    }

                    for (var nutrient of data.report.food.nutrients) {
                        if (nutrient.nutrient_id in nutrient_id_map) {
                            $("#id_" + nutrient_id_map[nutrient.nutrient_id]).val(nutrient.value);
                        }
                    }
                });
            };
        }

        function FoodSearchModel () {
            var self = this;

            self.query = ko.observable();
            self.results = ko.observableArray([]);

            self.doSearch = function () {
                $.getJSON(getSearchUrl(self.query())).then(function (data) {
                    self.results(
                        $.map(data.list.item, function (item) {
                            return new Food(item.name, item.ndbno);
                        })
                    );
                });
            };
        }

        setTimeout(function () {
            ko.applyBindings(new FoodSearchModel());
        }, 0);
    </script>
    <h2>National Nutrient Database Search: <span data-bind="text: query"></span></h2>
    <div>
        <input type="text" data-bind="value: query">
        <button data-bind="click: doSearch">search</button>

        <ul data-bind="foreach: results, visible: results().length > 0">
            <li><a href="" data-bind="click: download"><span data-bind="text: name"></span></a></li>
        </ul>
    </div>
{% endblock %}